/* Hoja de estilos CSS */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    max-width: 600px;
    width: 100%;
    margin: 15px;
}

h1 {
    color: #333;
}

#preview {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background-color: #eee;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}

@media screen and (max-width: 600px) {
    .container {
        margin: 15px;
        padding: 15px;
    }

    #preview {
        width: 90%;
    }

    button {
        width: 90%;
        padding: 15px;
    }
}
